## Import Clean Turnstile DF and Station DF

In [3]:
import pickle
import numpy as np
import pandas as pd

In [2]:
with open('data/clean_df.pickle','rb') as read_file:
    clean_df = pickle.load(read_file)

In [1]:
def readStationData(link):
    """
    This function reads in data from an online MTA station location dataset into a DataFrame
    ---
    input: link to dataset
    output: DataFrame
    """
    station_data = pd.read_csv(link, header = 0) #names = cols)
    drop_cols = ['Complex ID', 'GTFS Stop ID', 'Line',
                 'Daytime Routes', 'Structure','North Direction Label', 'South Direction Label']
    station_data = station_data.drop(drop_cols, axis=1)
    return station_data

In [4]:
station_df = readStationData('http://web.mta.info/developers/data/nyct/subway/Stations.csv')

In [6]:
with open('data/station_df.pickle', 'wb') as to_write:
    pickle.dump(station_df, to_write)

In [6]:
clean_df.columns

Index(['index', 'control_area', 'unit', 'scp', 'station', 'line_name',
       'division', 'desc', 'entries', 'exits', 'date_time', 'weekday', 'year',
       'hour', 'turnstile_id', 'exit_counts', 'entry_counts', 'total_traffic'],
      dtype='object')

In [10]:
clean_df.head()

,index,control_area,unit,scp,station,line_name,division,desc,entries,exits,date_time,weekday,year,hour,turnstile_id,exit_counts,entry_counts,total_traffic
0,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,6470223,2190140,2018-01-06 07:00:00,5,2018,7,0,17.0,7.0,24.0
1,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,6470256,2190229,2018-01-06 11:00:00,5,2018,11,0,89.0,33.0,122.0
2,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,6470379,2190299,2018-01-06 15:00:00,5,2018,15,0,70.0,123.0,193.0
3,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,6470665,2190366,2018-01-06 19:00:00,5,2018,19,0,67.0,286.0,353.0
4,5,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,6470809,2190398,2018-01-06 23:00:00,5,2018,23,0,32.0,144.0,176.0

In [14]:
station_df.head()

,Station ID,Division,Stop Name,Borough,GTFS Latitude,GTFS Longitude
0,1,BMT,Astoria - Ditmars Blvd,Q,40.775036,-73.912034
1,2,BMT,Astoria Blvd,Q,40.770258,-73.917843
2,3,BMT,30 Av,Q,40.766779,-73.921479
3,4,BMT,Broadway,Q,40.761820,-73.925508
4,5,BMT,36 Av,Q,40.756804,-73.929575

In [17]:
station_df['Stop Name'].nunique()

377

In [33]:
unique_stations_turn = sorted(list(clean_df['station'].unique()))
unique_stations_station = sorted(list(station_df['Stop Name'].unique()))

In [34]:
len(unique_stations_station)

377

In [35]:
len(unique_stations_turn)

378

In [36]:
unique_stations_station.append(0)

In [38]:
df_combined = {'Station': unique_stations_station, 'Turnstile': unique_stations_turn}
df_combined = pd.DataFrame(data = df_combined)

In [41]:
df_combined.loc[50:100, :]

                                 Station        Turnstile
50                                 25 Av            25 AV
51                                 25 St            25 ST
52                                 28 St            28 ST
53                                  3 Av             3 AV
54                         3 Av - 138 St      3 AV 138 ST
55                         3 Av - 149 St      3 AV-149 ST
56                                 30 Av            30 AV
57                                 33 St            33 ST
58                         34 St - 11 Av  33 ST-RAWSON ST
59                     34 St - Herald Sq  34 ST-HERALD SQ
60                  34 St - Penn Station  34 ST-HUDSON YD
61                                 36 Av   34 ST-PENN STA
62                                 36 St            36 AV
63                                 39 Av            36 ST
64                                  4 Av            39 AV
65                                 40 St        4 AV-9 ST
66                     42 St - Bryant Pk  40 ST LOWERY ST
67   42 St - Port Authority Bus Terminal  42 ST-BRYANT PK
68                                 45 St  42 ST-PORT AUTH
69                                 46 St            45 ST
70           47-50 Sts - Rockefeller Ctr            46 ST
71                                 49 St   46 ST BLISS ST
72                                  5 Av   47-50 STS ROCK
73                            5 Av/53 St            49 ST
74                            5 Av/59 St         4AV-9 ST
75                                 50 St       5 AV/53 ST
76                                 51 St       5 AV/59 ST
77                                 52 St            5 AVE
78                                 53 St            50 ST
79                                 55 St            51 ST
80                                 57 St            52 ST
81                          57 St - 7 Av            53 ST
82                                 59 St            55 ST
83               59 St - Columbus Circle            57 ST
84                                  6 Av       57 ST-7 AV
85                                 62 St            59 ST
86                     63 Dr - Rego Park   59 ST COLUMBUS
87                                 65 St             6 AV
88                66 St - Lincoln Center   61 ST WOODSIDE
89                                 67 Av  63 DR-REGO PARK
90                68 St - Hunter College            65 ST
91                                 69 St    66 ST-LINCOLN
92                                  7 Av            67 AV
93                                 71 St   68ST-HUNTER CO
94                                 72 St            69 ST
95                      74 St - Broadway             7 AV
96                                 75 Av            71 ST
97                                 75 St            72 ST
98                                 77 St      72 ST-2 AVE
99                                 79 St   74 ST-BROADWAY
100                                 8 Av            75 AV

In [53]:
map_df = clean_df

In [52]:
map_df.drop(map_df.loc[map_df['station'] == '33 ST-RAWSON ST',:], axis =1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[748226 rows x 0 columns]